{% load static from staticfiles %}
<header>
	<figure>
		<img src="{% static "img/base/favicon.png" %}" alt="Pinches Maestros" />
	</figure>

	{% if request.user.is_anonymous %}
		<p>
			<a href="{% url 'social:begin' 'facebook' %}">Entrar</a>
		</p>
	{% else %}
		<figure class="user-avatar">
			<img src="{{ student.avatar }}" />
		</figure>
		<p>{{ student.name }}</p>
		<p><a href="{% url 'logout' %}">Salir</a></p>
	{% endif %}

</header>