<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title>{{ title }}</title>

	<!-- SEO -->
	<meta name="description" content="{{ meta_description }}" />
	<meta property="og:locale" content="es_ES" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ title }}" />
	<meta property="og:description" content="{{ meta_description }}" />
	<meta property="og:url" content="https://pinchesmaestros.herokuapp.com/" />
	<meta property="og:site_name" content="Pinces Maestros" />
	<!-- SEO -->

	<!-- Styles -->
	{% load static from staticfiles %}
	<link rel="stylesheet" href="{% static "css/libraries/normalize.css" %}" />
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="{% static "css/base.css" %}" />
	<!-- Styles -->

	<link rel="shortcut icon" href="{% static "img/base/favicon.png" %}" />

	{% block head %} {% endblock %}

</head>
<body>

	{% include  'basic_components/header.html' %}

	{% block body %} {% endblock %}

	{% block body_scripts %}{% endblock %}
	
</body>
</html>